<tr>
  <% RowAttribute.all.each do |attr|
    person_attr = person.content(attr)
    todays_attr = todays.content(attr)
  %>
    <td class="<%= person_attr == todays_attr ? 'correct' : 'incorrect' %>">
      <%= person_attr&.value || "?" %>
    </td>
  <% end %>
</tr>