<tr>
  <% Column.all.each do |attribute|
    person_attribute_content = person.content_for(attribute)
    todays_attribute_content = todays.content_for(attribute)
  %>
    <td class="<%= person_attribute_content == todays_attribute_content ? 'correct' : 'incorrect' %>">
      <%= person_attribute_content&.maybe_genderize_for(person) || "?" %>
    </td>
  <% end %>
</tr>