<tr>
  <td style="color: <%= person.first_name.content == todays.first_name.content ? "limegreen" : "red" %>; font-weight: bold"><%= person.first_name.content %></td>
  <td style="color: <%= person.last_name.content == todays.last_name.content ? "limegreen" : "red" %>; font-weight: bold"><%= person.last_name.content %></td>
  <td style="color: <%= person.sex.value == todays.sex.value ? "limegreen" : "red" %>; font-weight: bold"><%= person.sex.value %></td>
  <td style="color: <%= person.pro_situation.content == todays.pro_situation.content ? "limegreen" : "red" %>; font-weight: bold"><%= person.pro_situation.content %></td>
</tr>
