<% if todays.is_birthday? %>
  <h3>BON ANNIVERSAIRE <%= todays.quickname.upcase %> !!!</h3>
<% else %>
  <% if nb_tries == 1 %>
    <h3>Lucky !</h3>
  <% else %>
    <h3>Bravo ! Tu as pris <%= nb_tries %> essais.</h3>
  <% end %>
<% end %>