<%# locals: (nb_tries:, available_people:, previous_picks:, won:, todays_person:) %>

<div id="form-or-congrats-div">
  <% if won %>
    <%= render partial: "congrats", locals: { todays: todays_person, nb_tries: nb_tries } if won %>
  <% else %>
    <%= render partial: "guess_form", locals: { available_people: available_people } %>
  <% end %>
</div>

<div class="table-container">
  <table>
    <thead>
    <tr>
      <% Column.all.each do |column| %>
        <th><%= column.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody id="guesses">
    <% if defined? previous_picks %>
      <%= render partial: "people/person",
                 collection: previous_picks,
                 locals: { todays: todays_person } %>
    <% end %>
    </tbody>
  </table>
</div>